body {background: #ffe6f7;
		font-family: 'Amatic SC', cursive;
		font-size: 24pt;}
		
h1 {font-size: 200%;
	
	font-weight: bold;}
	
	
		NAV LI {display: inline-block
				border: 2px solid hotpink;
				padding: 10px
				background: white;
				MARGIN: 5PX;
				width: 150px}
#bub {height: 500px}				
#me {width: 600px }
#umaine {width: 400px }
#bones {width: 400px }
#mydad {width: 400px }
#pat {width: 400px }
#emjoyce {width: 400px }
#gertaq {width: 400px }
#holli {width: 400px }
#lameass {width: 400px }
#mikeyd {width: 400px }
#mome {width: 400px }
#quinn {width: 400px }
#rosluke {width: 400px }
#seb {width: 400px }
#sin {width: 400px }
#squashisaac {width: 400px }
#totes {width: 400px }
#uglygodsqua {width: 400px }
#yam{width: 400px }
#lou { width: 400px }
